@import '@/lib/reset.scss';

html, body, #root, .container {
  @include rect(100%,100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flexbox();
    @include flex();
    @include rect(100%,auto);
    @include flex-direction(column);
    .header {
      @include rect(100%,0.44rem);
      @include flexbox();
      background-color: (#ec6b9b);
      .img_src {
       @include rect(0.35rem, 0.35rem);
       @include border-radius(50%);
       margin: 0.05rem 0.59rem 0 0.11rem;
      }
      .home-prolist {
        @include flexbox();
        @include flex();
       .homes {
        margin: 0.06rem 0.16rem;
        border: none;
        background: none;
        font-size: 0.16rem;
        color: #FFFFFF; 
       }
      }
    }
  }
    .content {
      background-color: #f5f7f9;
      @include flex();  
      @include rect(100%,auto);
      overflow: auto;
      .home-search {
        @include flex();
        @include flexbox();
        @include rect(100%,0.4rem);
        background-color: #FFFFFF;;
        justify-content: center;
        align-items: center;
        .search {
          @include rect(80%,0.23rem);
          @include align-items();
          @include flexbox();
          background: #f1f1f1;
          border-radius: 0.38rem;
          span {
            color: #999999;
            width: 0.3rem;
            height: 0.3rem;
            margin: 0.06rem 0.1rem 0 0.11rem;
          }
          p {
            font-size: 0.12rem;
            color: #999;
          }
        }
      }
    .tj {
      background-color: #f5f7f9;
      overflow: hidden;
      padding-bottom: .5rem;
    .tj_prolist {
      overflow: hidden;
      margin: .1rem;
      @include flexbox();
      @include flex-direction(column);
      @include rect(96%, 2.7rem);
      @include border-radius(0.12rem);
      background-color: #FFFFFF;
      margin: .1rem auto;
      .img_src {
          
      }
      p {
        font-size: 0.14rem;
        color: #333333;
        margin: 0.14rem;
      }
      .prolist_b {
        overflow: hidden;
        .prolist_l {
          margin-left: .14rem;
          img {
            @include rect(0.3rem, 0.3rem);
          }
          span {
            font-size: 0.02rem;
            color: #999999;
            margin-left: 0.05rem;
          }
          float: left;
        }
        .prolist_r {
          float: right;
          span {
           padding: 0.06rem;
           text-align: center;
          }
        }
      }
    } 
  }
  .find-prolist {
    @include flexbox();
    @include flex();
    @include rect(100%, .22rem);
    background-color: #f5f7f9;
    justify-content: center;
    align-items: center;
    .find {
        margin: 0.06rem 0.16rem;
        border: none;
        background: none;
        font-size: 0.14rem;
        line-height: .22rem;
        color: #333333;
        margin: 0 auto;
        margin: 0.28rem 0.3rem;
    }
  }
  .recommend { 
    background-color:#f5f7f9;
    padding-bottom: .5rem;
    overflow: hidden;
  .cj_prolist {
    overflow: hidden;
    @include flexbox();
    @include flex-direction(column);
    @include rect(46%, 2.7rem);
    @include border-radius(0.06rem);
    background-color: #FFFFFF;
    margin:.05rem 2%;
    float: left;
    .img_src {
      @include rect(1.75rem, 1.98rem);
    }
    p {
      font-size: 0.11rem;
      color: #333333;
      width:1.44rem;
      line-height: .22rem;
      margin-left: .1rem;
    }
    .recommend_b {
      overflow: hidden;
      .recommend_l {
        margin-left: .1rem;
        img {
          @include rect(0.25rem, 0.25rem);
        }
        span {
          font-size: .05rem;
          color: #999999;
          margin-left: 0.05rem;
        }
        float: left;
      }
      .recommend_r {
        float: right;
        span {
         padding: 0.06rem;
         text-align: center;
        }
        a {
          text-align: center;
         img{
          @include rect(.15rem, .14rem);
         }
        }
      }
    }
  } 
}

.home-xq {
  padding-bottom: .5rem;
 @include flexbox();
 .home-header { 
   @include rect(100%, .44rem);
   background-color: #333333

 }

}
//   .home-xq {
//     padding-bottom: .5rem;
//   .home-header {
//     margin-top: .1rem;
//     @include rect(100%,0.44rem);
//     background-color:(#FFFFFF);
//     overflow: hidden;
//     text-align: center;
//     line-height: .44rem;
//     border-bottom: .1rem solid #999999;
//     .header-l {
//       float: left;
//       .img-l {
//         width: .35rem;
//         height: .35rem;
//         margin:0 .08rem;
//       }
//       span {
//         font-size: .15rem;
//         color: #333333;
//       }
//     }
//     .header-r {
//       float: right;
//       span {
//         background-color: #ec6b9b;
//         color: #FFFFFF;
//         font-size: .12rem;
//         width: .14rem;
//         height: .17rem;
//         border-radius: .06rem;
//       }
//       .img-r {
//         width: .14rem;
//         height: .14rem;
//         margin:0 .08rem;
//       }  
//     }
//   } 
//   .home-main {
//     marign-top: .5rem;
//     .title_img {

//     }
//     span {
//       width: 2.37rem;
//       height: .14rem;
//       font-size: .14rem;
//       color: #333333;
//     }
//     p {

//     }
// }
// }
    }
}