@import '@/lib/reset.scss';

html, body, #root, .container {
  @include rect(100%,100%);
  font-family: "微软雅黑";
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flexbox();
    @include flex();
    @include rect(100%,auto);
    @include flex-direction(column);
    .shop-content {
      @include flex();  
      @include rect(100%,auto);
      overflow: auto;
    }
  }
  .footer {
    @include rect(100%,0.5rem);
    position: fixed;
    bottom: 0;
    background: #fff;
    ul {
      @include rect(100%,100%);
      @include flexbox();
      a {
        @include flex();
        @include flexbox();
        @include rect(auto,100%);
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        color: #999;
        p {
          font-size: 0.18rem;
        }
        &.active {
          color: #333;
        }
      }
    }
  }
}
.shop-search {
  @include flexbox();
  @include rect(100%,0.44rem);
  @include align-items();
  background: #EC6A9B;
  position: fixed;
  top: 0;
  z-index: 99;
  img {
    @include rect(0.35rem,0.35rem);
    border-radius:50%;
    margin: 0 0.1rem;
    background: #fff;
  }
  .search {
    @include rect(80%,0.26rem);
    @include align-items();
    @include flexbox();
    background: #f1f1f1;
    border-radius: 0.15rem;
    span {
      background: url('/shopimg/search1.png') no-repeat;
      width: 0.18rem;
      height: 0.18rem;
      margin: 0 0.22rem 0 0.1rem;
    }
    p {
      color: #999;
      font-size: 0.12rem;
    }
  }
}
.content-z  {
  padding: 0 0.1rem;
  margin-top: 0.4rem;
  .am-tabs-default-bar-content{
    height: 0.35rem;
    .am-tabs-default-bar-tab{
      height: 0.35rem;
    }
  }
  .hot {
    @include flexbox();
    @include rect(100%,1rem);
    @include justify-content(space-around);
    @include align-items();
    border-radius: 0.1rem;
    margin: 0.04rem 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .hot-2 {
    @include flexbox();
    @include rect(100%,0.95rem);
    @include justify-content(space-between);
    margin-bottom: 0.05rem;
    .time {
      @include rect(48%,100%);
      border-radius: 0.1rem;
      .title {
        @include rect(100%,0.3rem);
        text-align: center;
        p {
          line-height: 0.3rem;
          font-size: 0.12rem;
          color: #333;
        }
      }
      .img {
        @include flexbox(); 
        @include rect(100%,0.55rem);
        @include justify-content(space-around);
        @include align-items();
        img {
          width: 0.59rem;
          height: 0.55rem;
        }
      }
    }
    .sell {
      @include rect(48%,100%);
      border-radius: 0.1rem;
      .title {
        @include rect(100%,0.3rem);
        text-align: center;
        p {
          line-height: 0.3rem;
          font-size: 0.12rem;
          color: #333;
        }
      }
      .img {
        @include flexbox(); 
        @include rect(100%,0.55rem);
        @include justify-content(space-around);
        @include align-items();
        img {
          width: 0.59rem;
          height: 0.55rem;
        }
      }
    }
  }
  .hot-3 {
    @include rect(100%,0.9rem);
    margin-bottom: 0.1rem;
    ul {
      @include rect(100%,0.95rem);
      @include flexbox();
      li {
        @include flexbox();
        @include rect(1.1rem,100%);
        @include flex-direction(column);
        @include align-items();
        margin: 0 0.05rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .shop-prolist {
    // @include rect(100%,100%);
    overflow: hidden;
    margin-bottom: 0.5rem;
    li {
      @include flexbox();
      @include rect(1.64rem,1.89rem);
      @include flex-direction(column);
      // @include justify-content(center);
      float: left;
      // height: 1.8rem;
      background: #fff;
      padding: 0.05rem 0.28rem 0;
      margin: 0 0.1rem 0.1rem 0;
      .img{
        @include rect(1.1rem,0.95rem);
        margin: 0 auto;
        background: #ccc;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        font-size: 0.1rem;
        color: #333;
        h4 {
          line-height: 0.3rem;
        }
        p {
          color: #999;
          line-height: 0.2rem;
        }
        span {
          line-height: 0.2rem;

        }
      }
    }
  }
}
.am-carousel {
  height: 1.80rem;
}
// .am-tabs-default-bar-underline {
//   color: #f80;
// }
.am-tabs-default-bar-underline {
  border: none;
}
.am-tabs-default-bar-tab {
  font-size: 0.14rem;
}

.nologin, .nologintel, .nologincode {
  .back {
    @include flexbox();
    @include justify-content(space-between);
    padding-top: 0.15rem;
    margin-bottom: 0.3rem;
    color: #999;
    font-size: 0.14rem;
    span {
      padding: 0.05rem 0.15rem;
    }
  }
  .from {
    @include flexbox();
    @include flex-direction(column);
    @include align-items();
    color: #666;
    h4 {
      font: 400 0.18rem/0.4rem "";
      margin-bottom: 0.4rem;
    }
    .inputcode{
      margin-top: 1rem;
    }
    .codeinput{
      input {
        text-align: center;
      }
    }
    .user {
      @include flexbox();
      @include align-items();
      width: 2.95rem;
      height: 0.39rem;
      margin: 0 auto;
      border-radius: 0.2rem;
      border: 0.01rem solid #DCDCDC;
      color: #666;
      margin-bottom: 0.17rem;
      span {
        margin: 0 0.2rem 0 0.26rem;
      }
      input {
        @include rect(100%,0.2rem);
        border: none;
        background: none;
      }
    }
    .pass {
      @include flexbox();
      @include align-items();
      width: 2.95rem;
      height: 0.39rem;
      margin: 0 auto;
      border-radius: 0.2rem;
      border: 0.01rem solid #DCDCDC;
      color: #666;
      span {
        // @include flexbox();
        width: 0.14rem;
        height: 0.2rem;
        background: url('/shopimg/pass.png') no-repeat;
        background-size: 0.14rem 0.2rem;
        margin: 0 0.33rem 0 0.33rem;
      }
      input {
        @include rect(100%,0.2rem);
        border: none;
        background: none;
      }
    }
    button {
      @include rect(80%,0.4rem);
      border: none;
      background: #EC6A9B;
      margin-bottom: 0.15rem;
      margin-top: 0.2rem;
      border-radius: 0.2rem;
      color: #fff;
    }
    .option {
      @include rect(80%,0.3rem);
      margin-bottom: 1.5rem;
      color: #EC6A9B;
      font-size: 0.12rem;
      .s1{
        float: left;
      }
      .s2{
        float: right;
      }
    }
    .link {
      width: 80%;
      text-align: center;
      .qi {
        @include flexbox();
        @include align-items();
        margin-bottom: 0.3rem;
        .xian {
          width: 0.87rem;
          height: 0.01rem;
          background: #EC6A9B;
        }
        h5 {
          font-size: 0.14rem;
          font-weight: 500;
          color: #666;
          margin: 0 0.15rem;
        }
      }
      .link-c {
        @include rect(100%,0.4rem);
        @include flexbox();
        @include justify-content(space-around);
        @include align-items();
        .s1 {
          background: url('/shopimg/weixin.png') no-repeat;
          width: 0.3rem;
          height: 0.25rem;
          background-size: 0.3rem 0.25rem; 
        }
        .s2 {
          background: url('/shopimg/qq2.png') no-repeat;
          width: 0.2rem;
          height: 0.23rem;
          background-size: 0.2rem 0.23rem; 
        }
        .s3 {
          background: url('/shopimg/weibo.png') no-repeat;
          width: 0.28rem;
          height: 0.31rem;
          background-size: 0.28rem 0.31rem; 
        }
      }
    }
    .xieyi {
      font-size: 0.1rem;
      color: #666;
      margin-top: 0.2rem;
      i {
        color: #EC6A9B;
      }
    }
  }
}

