@import '@/lib/reset.scss';

html, body, #root, .container {
  @include rect(100%,100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flexbox();
    @include flex();
    @include rect(100%,auto);
    @include flex-direction(column);
    .shop-content {
      @include flex();  
      @include rect(100%,auto);
      overflow: auto;
    }
  }
  .footer {
    @include rect(100%,0.5rem);
    position: fixed;
    bottom: 0;
    background: #fff;
    ul {
      @include rect(100%,100%);
      @include flexbox();
      a {
        @include flex();
        @include flexbox();
        @include rect(auto,100%);
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        color: #666;
        span {
          font-size: 0.22rem;
        }
        p {
          font-size: 0.12rem;
        }
        &.active {
          color: #f66;
        }
      }
    }
  }
}
.shop-search {
  @include flexbox();
  @include rect(100%,0.4rem);
  background: #eee;
  position: fixed;
  top: 0;
  z-index: 99;
  img {
    @include rect(0.38rem,0.38rem);
    @include align-items();
    border-radius:50%;
    border: 0.01rem solid #ccc;
    margin: 0 0.1rem;
    background: #fff;
  }
  .search {
    @include rect(80%,0.3rem);
    @include align-items();
    @include flexbox();
    background: #fff;
    border-radius: 0.15rem;
    margin-top: 0.05rem;
    span {
      width: 0.3rem;
      height: 0.3rem;
    }
    p {
      color: #999;
    }
  }
}
.content-z  {
  padding: 0 0.1rem;
  margin-top: 0.4rem;
  .am-tabs-default-bar-content{
    height: 0.35rem;
    .am-tabs-default-bar-tab{
      height: 0.35rem;
    }
  }
  .hot {
    @include flexbox();
    @include rect(100%,0.8rem);
    @include justify-content(space-around);
    @include align-items();
    border-radius: 0.1rem;
    background: #999;
    margin-bottom: 0.05rem;
    img {
      width: 0.6rem;
      height: 0.6rem;
      background: #ccc;
    }
    .title {
      width: 0.8rem;
      text-align: center;
    }
    .btn {
      background: #ccc;
      border: none;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
    }
  }
  .hot-2 {
    @include flexbox();
    @include rect(100%,0.9rem);
    @include justify-content(space-between);
    margin-bottom: 0.05rem;
    .time {
      @include rect(48%,100%);
      border-radius: 0.1rem;
      background: #999;
      .title {
        @include rect(100%,0.3rem);
        margin-left: 0.1rem;
        p {
          line-height: 0.3rem;
        }
      }
      .img {
        @include flexbox(); 
        @include rect(100%,0.5rem);
        @include justify-content(space-around);
        @include align-items();
        img {
          width: 0.4rem;
          height: 0.4rem;
          margin: 0 0.2rem;
          background: #ccc;
        }
      }
    }
    .sell {
      @include rect(48%,100%);
      border-radius: 0.1rem;
      background: #999;
      .title {
        @include rect(100%,0.3rem);
        margin-left: 0.1rem;
        p {
          line-height: 0.3rem;
        }
      }
      .img {
        @include flexbox(); 
        @include rect(100%,0.5rem);
        @include justify-content(space-around);
        @include align-items();
        img {
          width: 0.4rem;
          height: 0.4rem;
          margin: 0 0.2rem;
          background: #ccc;
        }
      }
    }
  }
  .hot-3 {
    @include rect(100%,0.9rem);
    margin-bottom: 0.1rem;
    ul {
      @include rect(100%,0.9rem);
      @include flexbox();
      @include justify-content(space-around);
      li {
        @include flexbox();
        @include rect(1rem,100%);
        @include flex-direction(column);
        @include align-items();
        background: #eee;
        span {
          width: 100%;
          margin-top: 0.1rem;
          margin-left: 0.1rem;
        }
        img {
          width: 0.5rem;
          height: 0.5rem;
          background: #ccc;
        }
      }
    }
  }
  .shop-prolist {
    @include rect(100%,auto);
    ul {
      @include rect(100%,100%);
      li {
        @include flexbox();
        @include flex-direction(column);
        // @include justify-content(center);
        float: left;
        width: 48%;
        // height: 1.8rem;
        background: #eee;
        padding: 0.05rem;
        margin: 0 0.05rem 0.1rem 0;
        .img{
          @include rect(90%,1.2rem);
          margin: 0 auto;
          background: #ccc;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.am-carousel {
  height: 1.80rem;
}
// .am-tabs-default-bar-underline {
//   color: #f80;
// }
// .am-tabs-default-bar-underline {
//   background: #f80;
// }