@import '@/lib/reset.scss';

html, body, #root, .container {
  @include rect(100%,100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flexbox();
    @include flex();
    @include rect(100%,auto);
    @include flex-direction(column);
    .header {
      @include rect(100%,0.44rem);
      @include flexbox();
      // background: linear-gradient(to right,  orange 0%,#FFBBFF 100%);
      .search {
        @include flexbox();
        @include align-items();
        background: #fff;
        @include rect(80%,70%);
        border-radius: 0.15rem;
        font-size: 0.14rem;
        margin: 0.07rem 0.1rem 0 0.1rem;
        color: #999;
        .icon-xiazai17 {
          margin: 0 0.1rem;
        }
      }
      .cartshop {
        @include flexbox();
        @include align-items();
        @include rect(15%,0.44rem);
        span {
          @include rect(100%,100%);
          @include flexbox();
          @include align-items();
          margin-left: 0.05rem;
        }
        .icon-gouwuche {
          font-size: 0.24rem;
          color: #fff;
        }
      }
    }
    .content {
      @include flex();  
      @include rect(100%,auto);
      overflow: auto;
    }
  }
}

.am-drawer.am-drawer-left .am-drawer-draghandle, .am-drawer.am-drawer-right .am-drawer-draghandle {
  width: 0px;
}
.am-navbar-title {
  flex:none;
  margin-left: 110px;
}
.am-navbar-left {
  flex:0;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.box-left {
 .xiao {
   background: #fff;
   @include rect(100%,100%);
   @include flexbox();
   
   margin:10px 8px 10px 8px;
   li {
    float: left;
    @include flex();
    @include flexbox();
    @include rect(auto,100%);
    @include flex-direction(column);
    @include justify-content();
    @include align-items();
    margin: 14px 0;
    img {
      width: 40px;height: 40px;
    }
    p {
      margin-top: 12px;
      color:rgba(102,102,102,1);
      font-weight:bold;
      font-family:MicrosoftYaHei;
      font-size: 13px;
    }
   }
 }
 .xiao2 {
  margin:0px 8px 10px 8px;
   li {
    @include align-items();
    @include flexbox(column);
    background: #fff;
    margin-bottom: 14px;
    height:44px;
    img {
      width: 25px;
      height:25px;
      margin-left: 6px;
    }
    div {
      line-height: 1.3;
      margin-left: 5px;
      h3 {
        font-size:12px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(102,102,102,1);
      }
      span {
        font-size:10px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(153,153,153,1);
      }
    }
   }
 }
}



.icon-caidan:before {
  padding-left: 14px;font-size: 20px
}

.lei {
  width: 140px;
  margin-left: 50px;
  h3 {
    font:22px/34px '';
    color: #fff;
    text-align: center;
  }
  
  a {
    display: block;
    font:16px/48px '';
    color:#fff;
    padding-left: 30px;
    img {
      padding-right: 6px;
    }
  }
}
.am-list-body {
  background: #f298ba;
}
.my-drawer .am-drawer-sidebar {
  background: #f298ba;
}

.am-navbar {
  background: #ec6a9b;
  margin-top: 20px;
}
.am-drawer-content {
  background: #F6F7F9;
}

.am-navbar-title {
  font-size: 20px;
}
.icon-caidan:before {
  font-size: 24px;
}

.guan {
  .guan-header {
    height: 60px;
    text-align: center;
    background: #ec6a9b;
    font-family:MicrosoftYaHei;
    i {
      float: left;
      font:22px/60px "";
      color: #fff;
      margin-left: 8px;
    }
    span {
      font:19px/60px "";
      color: #fff;
    }
  }
}
.guan {
  .am-tabs-default-bar-content {
    background: #ec6a9b;
  }
  .am-tabs-default-bar-tab-active {
    color: #fff;
    border-bottom: 1px solid blue;
  }
  .am-tabs-default-bar-content {
    color:#E6E6E6;
  }
  .am-tabs-default-bar-tab {
    font-size: 17px;
    font-weight:400;
    font-family:MicrosoftYaHei;
  }
  .am-tabs, .am-tabs-horizontal, .am-tabs-top {
    overflow: auto;
    height: 564px;
  }

}

.yonghu {
  margin-top: 20px;
  width: 100%;
  background: #fff;
  .yonghu-t {
    @include flexbox();
    @include justify-content(space-between);
    
    i {
      font:16px/40px '';
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      margin-left: 22px;
    }
    span {
      font:16px/40px '';
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      margin-right: 16px;
    }
  }
  .yonghu-c {
    ul {
      li {
        padding:14px 0 ;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        .yonghu-c-l {
          @include align-items();
          @include flexbox(column);
          
          img {
            height: 45px;
            width: 45px;
          }

        }
        .yonghu-c-r {
          width: 72px;
          height: 30px;
          background: #ffa9cc;
          text-align: center;
          font:14px/30px '';
          color: #f8f8f8;
          border-radius: 10%;
        }
      }
    }
  }
}

.shouchang {
  @include flexbox();
  @include justify-content(center);
  height: 100%;
  width: 100%;
  ul {
    width: 336px;
   @include flexbox();
   @include flex-wrap(wrap);
   @include justify-content(space-between);
       li {
         margin-top: 10px;
        background: #fff;
      .shou-t {
        img {
          width: 160px;
          height:196px;
        }
        p {
          font-size:12px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(77,77,77,1);
          line-height:22px;
        }
      }
      .shou-b {
        margin:8px 0;
        @include flexbox();
        @include justify-content(space-between);
        .shou-t-l {
          margin-left: 4px;
          img {
            margin-left: 4px;
            width: 32px;
            height: 31px;
          }
        }
        .shou-t-r {
          margin-top: 4px;
          margin-right: 4px;
          img {
            width: 15px;
            height: 13px;
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.caogao {
  li {
    @include align-items();
    @include flexbox(column);
    background: #fff;
    margin-bottom: 14px;
    height:125px;
    img {
      width: 112px;
      height:103px;
      margin-left: 6px;
    }
    div {
      line-height: 4;
      margin-left: 22px;
      margin-top: 28px;
      h3 {
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:22px;
      }
      span {
        margin-top:20px; 
        font-size:12px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(153,153,153,1);
        line-height:22px;
      }
    }
   }
}

.bangzhu {
  background: url('./views/news/news-img/dabeijing.png') no-repeat center center fixed;
  width: 375px;
  height: 700px;
  background-size: 375px 647px;

  .qwe {
    padding-top:200px;
  }  
}